* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    box-sizing: content-box;
}

::-webkit-scrollbar { /* Not supported at Internet Explorer but the default fallback is oke */
    width: 15px;
    background-color: white;
}

::-webkit-scrollbar-thumb { /* Same here */
    background: black; 
    border-radius: 10px;
    border: 1px solid white;
}

::-webkit-scrollbar-thumb:hover { /* Same here */
    background: #555; 
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('../images/hva_achtergrond_darker.jpg') no-repeat center center fixed, /* If background-blend-mode: overlay is not supported */
                #777;
}

@supports (background-blend-mode: overlay) { /* Not supported at Internet Explorer */
    body {
        background: url('../images/hva_achtergrond.avif') no-repeat center center fixed,
                    url('../images/hva_achtergrond.webp') no-repeat center center fixed,
                    url('../images/hva_achtergrond.jpg') no-repeat center center fixed, 
                    #777;
        background-blend-mode: overlay;
        background-color: rgba(0,0,0,0.85);
    }
}

.bedankt_tekst {
    width: calc(100% - 80px);
    text-align: center;
    max-width: 900px;
    background-color: white;
    border-radius: 30px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
}

@media (max-width: 300px) {
    h1 {
        font-size: 1.35em;
    }
}