* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
    box-sizing: content-box;
}

::-webkit-scrollbar { /* Not supported at Internet Explorer but the default fallback is oke */
    width: 15px;
    background-color: white;
}

::-webkit-scrollbar-thumb { /* Same here */
    background: black; 
    border-radius: 10px;
    border: 1px solid white;
}

::-webkit-scrollbar-thumb:hover { /* Same here */
    background: #888; 
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: url('../images/hva_achtergrond_darker.jpg') no-repeat center center fixed, /* If background-blend-mode: overlay is not supported */
                #777;
}

@supports (background-blend-mode: overlay) { /* Not supported at Internet Explorer */
    body {
        background: url('../images/hva_achtergrond.avif') no-repeat center center fixed,
                    url('../images/hva_achtergrond.webp') no-repeat center center fixed,
                    url('../images/hva_achtergrond.jpg') no-repeat center center fixed, 
                    #777;
        background-blend-mode: overlay;
        background-color: rgba(0,0,0,0.85);
    }
}

main {
    padding: 20px;
}

.container {
    max-width: 900px;
    background-color: white;
    border-radius: 30px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
}

p.boven_text {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.35em;
}

h1 {
    text-align: center;
    font-size: 1.8em;
}

p.beschrijving_onder_titel {
    text-align: center;
    max-width: 900px;
    margin: 10px auto 15px;
    font-size: 1.2em;
}

#section_opslaan_data p {
    font-size: 1.2em;
}

select:focus,input:focus,textarea:focus {
    outline: 4px dashed rgb(55, 55, 55);
}

button:focus {
    outline: 4px dashed blue;
}

form * {
    display: block;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    font-size: 1.35em;
}

label {
    font-size: 1.2em;
    margin: 15px 0 2.5px;
    width: 100%;
    float: left; /* If display: grid is not supported */
}

input {
    width: calc(100% - 20px);
    padding: 5px 10px;
    color: #888;
    font-size: 1.1em;
}

select {
    width: calc(100% - 20px);
    padding: 5px 10px;
    color: #888;
    cursor: pointer;
    font-size: 1.1em;
    background-color: white;
}

form p {
    font-size: 1.2em;
    margin: 15px 0 2.5px;
    width: 100%;
    float: left; /* If display: grid is not supported */
}

.cijfer_section input {
    padding: 0px;
    appearance: none; /* Not supported at Internet Explorer but the default fallback is oke*/
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8f8f8;
    cursor: pointer;
    border: 1px solid black;
    margin: auto;
}

.cijfer_section label {
    margin: 0;
    color: #888;
}

.cijfer_section input:checked {
    background-color: #888;
}

textarea {
    font-size: 1.2em;
    padding: 5px 10px;
    color: #888;
    width: calc(100% - 20px);
}

section.cijfer_section {
    margin-bottom: 10px;
}

.cijfer_section {
    width: 100%;
}

.cijfer_section section {
    float: left; /* If display: grid is not supported */
}

.cijfer_section section label{
    text-align: center;
}

#button_opslaan_data {
    margin: 10px 0 0 0;
}

@supports(display: flex) {
    #section_opslaan_data {
        display: flex;
        flex-direction: row;
    }
    button#button_opslaan_data {
        margin: 0 0 0 10px;
    }
}

@supports(display: grid) {
    .cijfer_section {
        display: grid;
        grid-template-columns: repeat(10,1fr);
        max-width: 500px;
    }
    @media (max-width: 450px) {
        .cijfer_section {
            grid-template-columns: repeat(5,1fr);
        }
    }
    @media (max-width: 250px) {
        .cijfer_section {
            grid-template-columns: repeat(2,1fr);
        }
    }
    .cijfer_section section{
        margin-right: 10px;
        text-align: center;
        float: none;
    }
    .cijfer_section {
        width: 100%;
    }
    #section_opslaan_data {
        align-items: center;
    }
    label {
        float: none;
    }
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #251678;
    color: white;
    border-radius: 15px;
    font-size: 1.2em;
    cursor: pointer;
    height: 24px;
    font-weight: bold;
}

button:hover {
    background-color: #3a21c6;
}

@media (max-width: 400px) {    
    #section_opslaan_data {
        display: block;
    }
    button#button_opslaan_data {
        margin: 10px 0 0 0;
    }
}

@media (max-width: 300px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.35em;
    }

    legend {
        font-size: 1em;
    }

    input {
        width: 70%;
    }

    p.beschrijving_onder_titel {
        font-size: 0.9em;
    }
    #section_opslaan_data p {
        font-size: 0.9em;
    }

    label, form p{
        font-size: 0.9em;
    }

    select,input {
        font-size: 0.9em;
        padding-left: 5px;
    }
}

@media (max-width: 200px) {
    p.boven_text {
        font-size: 1em;
    }

    main {
        padding: 10px;
    }

    h1 {
        font-size: 1em;
    }

    legend {
        font-size: 0.9em;
    }

    button {
        font-size: 1em;
        padding: 10px;
    }
}

[hidden] {
    display: none !important;
}

.invisible {
    display: none;
}